server:
  port: 8000

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

spring:
  application:
    name: gateway-service

#  security:
#    oauth2:
#      resourceserver:
#        jwt:
#          jwk-set-uri: http://auth-service/.well-known/jwks.json

  cloud:
    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOriginPatterns: "http://localhost:3000"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true

      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/**
#          filters:
#            - StripPrefix=1

        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/users/**

        - id: group-service
          uri: lb://group-service
          predicates:
            - Path=/groups/**

        - id: event-service
          uri: lb://event-service
          predicates:
            - Path=/events/**,/event-members/**

        - id: comment-service
          uri: lb://comment-service
          predicates:
            - Path=/comments/**

        - id: notification-service
          uri: lb://notification-service
          predicates:
            - Path=/notifications/**

        - id: message-service-ws
          uri: lb://message-service
          predicates:
            - Path=/ws/**

        - id: message-service-chats
          uri: lb://message-service
          predicates:
            - Path=/chats/**
            
        - id: message-service-messages
          uri: lb://message-service
          predicates:
            - Path=/messages/**

        - id: feed-service
          uri: lb://feed-service
          predicates:
            - Path=/feed/**